/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body{
    margin: 0; 
    font-family: 'Helvetica', Arial, sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body.hidden{
    overflow:hidden;
}

/* Loading screen */
#loading-screen{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color:#ffffff;
    opacity: 1;
    z-index: 9999;
}
#loading-screen img{
    transform: scale(1.1);
    z-index: 1;
}
#loading-screen.removed{
    animation: shrink-loading-screen-height 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
#loading-screen.removed #progress-container{
    opacity: 0;
}
#loading-screen.removed #image-container{
    width: 100vw;
    opacity: 0;
}
#image-container,#progress-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
#progress-container{
    z-index: -1;
}
#progress-bar{
    width: 0%;
    height: 3px;
    z-index: 1;
    animation: grow-width 4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
#spinner-container{
    position: relative;
    left:-18px;
    transform-origin: center center;
    animation: spinner 3s infinite linear; 
    z-index: 2;
}
#spinner-container img{
    background-color: transparent;
}

/* Layout */

/* Landing section */
#landing div{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/index/plop_landing_page_bg_1.jpeg');
}

/* Header */
header{
    position: fixed;
    width: 100vw;
    z-index: 3;
}
header div:nth-child(1){
    z-index: 1;
}
#header-display{
    text-wrap: nowrap;
}
#header-thin-line{
    width: 100%;
    margin-inline: 1em;
    align-self: center;
    height: 2px;
    background-color: #fff;
    animation: grow-width 3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
#header-thin-line.black,
.thin-line.black{
    background-color: #000;
}

#menu-button.black .line-top,
#menu-button.black .line-middle,
#menu-button.black .line-bottom{
    stroke: #000;
}
#menu-button:active,
#menu-button:focus{
    box-shadow: none;
}

/* Header: Menu button animations */
#menu-button .line-top {
    transform: rotate(0deg) translate(0px,0px);
    transform-origin: top right;
    transition: transform 0.3s ease;
}
#menu-button .line-middle {
    transform: scale(1);
    transform-origin: center;
    transition: transform 0.4s ease;
}
#menu-button .line-bottom {
    transform: rotate(0deg) translate(0px,0px);
    transform-origin:  bottom left;
    transition: transform 0.3s ease;
}

#menu-button.active .line-top {
    transform: rotate(-45deg) translate(-20px,-18px);
    transform-origin: top right;
    transition: transform 0.3s ease;
}
#menu-button.active .line-middle {
    transform: scale(0);
    transform-origin: center;
    transition: transform 0.4s ease;
}
#menu-button.active .line-bottom {
    transform: rotate(45deg) translate(-60px,-39px);
    transform-origin: bottom left;
    transition: transform 0.3s ease;
}

/* Header: menu's container */
#menu-container{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background: rgba(15, 15, 15, 0.2);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 2px );
    opacity: 0;
    transition: opacity 0.5s ease;
}
#menu-container.active{
    opacity:1;
    z-index: 2;
}

header nav ul > li.active a,
header nav ul > li:hover a {
    font-weight: bold;
}

header nav ul > li.active img,
header nav ul > li:hover img,
.spin {
    transform-origin: center center;
    animation: spinner 3s infinite linear;
}

/* Menu's brand option */
#brands-dropdown{
    width: 40vw;
    height: 2em;
}

#brands-list{
    height: 0;
    overflow:hidden;
}
#brands-list a{
    font-weight: normal;
}
#brands-list a:hover,
#brands-list a:focus,
#brands-list a:active{
    font-weight: bold;
    cursor: pointer;
}
#brands-list.ungrow{
    animation: shrink-height 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
#brands-list.grow{
    overflow:visible;
    animation: grow-height 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;

}

a.disabled {
    pointer-events: none;
    cursor: default;
}

.thin-line{
    width: 0;
    height: 2px;
    position: relative;
    top:0.5em;
    background-color: #ffffff;
    transition: width 2s ease-in-out;
}
.thin-line.ungrow{
    animation: shrink-width 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
.thin-line.grow{
    animation: grow-width 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

#brand-images-carousel{
    width:25vw;
    height:auto;
}
#brand-images-carousel img{
    object-fit: cover;
    aspect-ratio: 3/4;
}
#brand-images-carousel h1{
    color: #ffffff;
    opacity: 0.8;    
    white-space: nowrap;
}

/* About section */
#about div:nth-child(1){
    width: 100%;
    padding-top: 10em;
    padding-inline: 1em;
    gap:0.5em;
    z-index: 1;
}
#about div:nth-child(1) p{
    width: fit-content;
    background-color: #fff;
    border: 2px solid #fff;
    z-index: -1;

}
#about-para-1{
    align-self: end;
    text-align: end;
}
#tiktok-icon-about{
    margin-right: 10%;
    width: fit-content;
    padding-inline: 10px;
}
#instagram-icon-about{
    margin-left: 10%;
    width: fit-content;
    padding-inline: 10px;
}

/* plop exclusive */
.image-grid-container{
    width: 100vw;
    height: fit-content;
    padding-top: 5em;
    padding-inline: 2em;
    display: grid;
    grid-template-columns: repeat(24,1fr);
    grid-template-rows: repeat(12,1fr);
}

.image-grid-container img{
    object-fit: contain;
    width: 100%;
    max-height: 100%;
}
.image-grid-container img.vertical{
    aspect-ratio: 3/4;
}
.image-grid-container img.horizontal{
    aspect-ratio: 4/3;
}
.image-grid-container span{
    opacity: 0;
}
#plop-exclusive span{
    z-index: 3;
}
#plop-exclusive a h1{
    font-size: 8em;
}
#plop-exclusive img{
    padding: 2em;
    padding-bottom: 0;
}
.image-grid-container div:hover{
    transform: scale(1.05);
    transition: all 400ms ease;
}
.image-grid-container div:hover span{
    opacity: 1;   
    transition: all 400ms ease;
}

.image-grid-container:first-of-type div:first-of-type{
    grid-column-start:17;
    grid-column-end:end;
    grid-row-start: -12;
    grid-row-end:span 6;
}
.image-grid-container:first-of-type div:nth-of-type(2){
    grid-column-start:1;
    grid-column-end:span 7;
    grid-row-start: 2;
    grid-row-end:span 6;
    object-fit: cover;
}
.image-grid-container:first-of-type div:nth-of-type(3){
    grid-column-start:span 6;
    grid-column-end:16;
    grid-row-start: -13;
    grid-row-end:span 6;
}

.image-grid-container:first-of-type div:nth-of-type(4){
    grid-column-start:span 6;
    grid-column-end:16;
    grid-row-start: 5;
    grid-row-end:span 3;
}

.image-grid-container:first-of-type div:nth-of-type(5){
    grid-column-start:-24;
    grid-column-end:-10;
    grid-row-start: 9;
    grid-row-end:25;
    object-fit: cover;
}
.image-grid-container:first-of-type div:nth-of-type(6){
    grid-column-start:17;
    grid-column-end:end;
    grid-row-start: -6;
    grid-row-end:14;
    
}

.image-grid-container:nth-of-type(2) div:first-of-type{
    grid-column-start:1;
    grid-column-end:25;
    grid-row-start:1;
    grid-row-end: span 8;
    padding-bottom: 2em;
}
.image-grid-container:nth-of-type(2) div:nth-of-type(2){
    grid-column-start:1;
    grid-column-end:25;
    grid-row-start:9;
    grid-row-end: span 3;
}
.image-grid-container:nth-of-type(2) div:nth-of-type(3){
    grid-column-start:1;
    grid-column-end:span 12;
    grid-row-start:13;
    grid-row-end: span 3;
}
.image-grid-container:nth-of-type(2) div:nth-of-type(4){
    grid-column-start:-12;
    grid-column-end:end;
    grid-row-start:13;
    grid-row-end: span 3;
}

/* shop choose */

#shop-choose-womens div,
#shop-choose-mens div,
#shop-choose-accessories div{
    cursor: pointer;
    z-index: 1;
}
#shop-choose-accessories div{
    top:25%;
}
#shop-choose-womens:hover img,
#shop-choose-mens:hover img,
#shop-choose-accessories:hover img{
    filter: brightness(0.7);
    transition: all 300ms ease;
}
#shop-choose img {
    filter: brightness(0.8);
}
#shop-choose .row:nth-child(2){
    height: 50vh;
}
#shop-choose .row:nth-child(2) a img {
    aspect-ratio: 16/9; 
    object-fit: cover;  
    width: 100%;       
    height: 100%;       
}

/* custom animations */
@keyframes spinner{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes shrink-loading-screen-height{
    0%{
        height: 100%;
    }
    100%{
        height:0;
    }
}
@keyframes grow-width{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
@keyframes shrink-width {
    0%{
        width: 100%;
    }
    100%{
        width:0%;
    }
}
@keyframes grow-height{
    0%{
        height: 0;
    }
    100%{
        height:100px;
    }
}
@keyframes shrink-height{
    0%{
        height: 100px;
    }
    100%{
        height:0;
    }
}

/* media query for width 430 and below */

@media (max-width: 500px) {
    /* header */
    #header-display{
        text-wrap: wrap;
    }
    #menu-button{
        position: absolute;
        top:0;
        right:0;
        margin-right:0.5em;
    }
    #brands-dropdown{
        width: 90vw;
        height: 2em;
    }
    #header-thin-line{
        animation: grow-width 10s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    }
    #brand-images-carousel{
        left:0;
        width:40vw;
        height:auto;
    }
    #brand-images-carousel h1{
        white-space: nowrap;
        float:left !important;
    }
    /* about section */
    #about div:nth-child(1) p{
        border: none;
        background-color: transparent;
    }
    #about div:nth-child(1){
        padding-top: 5em;
    }
    #tiktok-icon-about{
        background-color: #fff;
        border:0.5px solid #000;
        border-radius: 100px;
    }
    #instagram-icon-about{
        background-color: #fff;
        border:0.5px solid #000;
        border-radius: 100px;
    }
    /* plop exclusive section */
    #plop-exclusive{
        margin-top: 10em;
    }
    #plop-exclusive a h1{
        font-size: 4em;
    }
    #plop-exclusive img{
        margin: 0;
        padding: 1em;
        padding-bottom: 0;
        aspect-ratio: 3/4;
        object-fit: cover;
    }
    .image-grid-container {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .image-grid-container:first-of-type div:nth-of-type(1) {
        grid-column: 1;
        grid-row: 1; 
    }
    .image-grid-container:first-of-type div:nth-of-type(2) {
        grid-column: 2;
        grid-row: 1;
    }
    .image-grid-container:first-of-type div:nth-of-type(3) {
        grid-column: 1;
        grid-row: 2; 
    }
    .image-grid-container:first-of-type div:nth-of-type(4) {
        grid-column: 2; 
        grid-row: 2;
    }
    .image-grid-container:first-of-type div:nth-of-type(5) {
        grid-column: 1; 
        grid-row: 3;
    }
    .image-grid-container:first-of-type div:nth-of-type(6) {
        grid-column: 2;
        grid-row: 3;
    }
    .image-grid-container:nth-of-type(2) div{
        aspect-ratio: 4/3;
        object-fit: contain;
    }
    .image-grid-container:nth-of-type(2) div:first-of-type {
        grid-row: span 1;
        grid-column: span 2;
    }
    .image-grid-container:nth-of-type(2) div:nth-of-type(2) {
        grid-row: span 1;
        grid-column: span 2;

    }
    .image-grid-container:nth-of-type(2) div:nth-of-type(3) {
        grid-row: span 1;
        grid-column: span 2;

    }
    .image-grid-container:nth-of-type(2) div:nth-of-type(4) {
        grid-row: span 1;
        grid-column: span 2;

    }
    /* shop choose */
    #shop-choose .row:nth-child(2){
        height: 20vh;
    }
}